﻿
@{
    ViewBag.Title = "Egzersizler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> Egzersizler </h1>
<b>Zayıflama egzersizi 1</b>
<p>Elleri öne - yukarı yukarı yana açarak aşağı yukarı (10-20 kez) </p>
<p>
    <img src="~/Content/img/resimli_zayiflama_egzersizleri1.jpg" width="250" height="193" alt="Zayıflama Hareketleri" />
</p>
<p>
    <b>Zayıflama egzersizi 2</b><br />Eller yukarıda. Bacaklar dik. Dizleri Kırmadan avuç içini parmaklarına değdiriyorsun.<br />(10-15 kez)
</p>
<p>
    <img src="~/Content/img/resimli_zayiflama_egzersizleri2.jpg" width="250" height="109" alt="zayıflama-egzersizi" />
</p>
<p>
    <b>Zayıflama egzersizi 3</b><br />10 kere her yöne eller yere değecek şekilde eğilin.
</p>
<p>
    <img src="~/Content/img/resimli_zayiflama_egzersizleri3.jpg" width="250" height="128" alt="egzersiz hareketleri" />
</p>
<p>
    <b>Zayıflama egzersizi 4</b><br />Eller önde çömelip kalkın (10-20 kez)
</p>
<p>
    <img alt="zayıflama-hareketleri" src="~/Content/img/resimli_zayiflama_egzersizleri4.jpg" width="250" height="123" />
</p>
<p>
    <b>Zayıflama egzersizi 5</b><br />Bacakları ileri geri ve yana doğru sallayın (10 -20 kez)
</p>
<p>
    <img alt="zayıflama-hareketleri" src="~/Content/img/resimli_zayiflama_egzersizleri5.jpg" width="250" height="70" />
</p>
<p>
    <b>Zayıflama egzersizi 6</b><br />Yüzüstü uzanın. Bacaklarınızı keçiboynuzu şeklinde yukarı aşağı götürüp getirin<br />( her bacak için 10 -15 kez)
</p>
<p>
    <img alt="zayıflama-hareketleri" src="~/Content/img/resimli_zayiflama_egzersizleri6.jpg" width="250" height="69" />
</p>
<p>
    <b>Zayıflama egzersizi 7</b><br />Kobra şeklide denilebilir. Yüz üstü uzanın sonra başınızı yukarı kaldırıp tekrar<br />uzanın. (2 - 3 kez)
</p>
<p>
    <img alt="zayıflama-hareketleri" src="~/Content/img/resimli_zayiflama_egzersizleri7.jpg" width="250" height="38" />
</p>
<p>
    <b>Zayıflama egzersizi 8</b><br />Sırt üstü uzanın. Eller yanda. Bacakları kaldırıp tekrar indirin (10 -15 kez)
</p>
<p>
    <img alt="zayıflama-hareketleri" src="~/Content/img/resimli_zayiflama_egzersizleri8.jpg" width="250" height="55" />
</p>
<p>
    <b>Zayıflama egzersizi 9</b><br />10 -15 kez mekik yapın
</p><p>
    <img alt="zayıflama-hareketleri" src="~/Content/img/resimli_zayiflama_egzersizleri9.jpg" width="250" height="40" />
</p>
<p>
    <b>Zayıflama egzersizi 10</b><br />Sırt üstü uzanın bacakları sağa sola ileri geri hareket ettirin
</p>
<p>
    <img alt="zayıflama-hareketleri" src="~/Content/img/resimli_zayiflama_egzersizleri10.jpg" width="250" height="74" />
</p>



