﻿
@{
    ViewBag.Title = "Dernek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <style type="text/css">
        .homepage-references {
            width: 985;
            height: 2000px;
            position: relative;
            margin: 0 auto 15px auto;
        }
    </style>
</head>

<body>
    <div class="homepage-references">

        <h1>DERNEKLER VE BİZ YANINIZDAYIZ </h1>
        <p>Türkiye’de obezite ile mücadele ilk defa sağlıklı toplum derneği ile başlamıştır.</p>
        <p>Aşağıda Türkiyede bulunan en aktif obezite dernekleri bulunmaktaDIR. Web sitelerine geçiş yapmak için yazının üzerine tıklamanız yeterlidir. </p>
        <table>
            <ul>
                <li>
                    <a class="homepage-reference-h2" href="http://sagliklitoplum.org.tr/tr" target="_blank">saglikli yasam dernegi</a>
                </li>
                <li>
                    <a href="http://www.obezitearastirma.org" target="_blank">obezite arastirma drnegi</a>
                </li>
                <li>
                    <a href="http://www.diobes.org/?p=tuzuk" target="_blank">Diyanet Obezite ve Beslenme Dernegi</a>
                </li>
                <li>
                    <a href="http://tsmbs.org/Pages/3/BMCD_Tuzuk" target="_blank">Bariatrik ve Metabolik Cerrahi Derneği</a>
                </li>
                <li>
                    <a href="http://www.endokrin.com/tuzuk.php" target="_blank">Endokrinolojide Diyalog Derneği</a>
                </li>
            </ul>
        </table>
        <section class="tt-grid-wrapper">
            <ul class="tt-grid tt-effect-stackback tt-effect-delay">
                <li><a href="#"><img src="~/Content/img/21.jpg" alt="img01" /></a></li>
                <li><a href="#"><img src="~/Content/img/32.jpeg" alt="img01" /></a></li>
                <li><a href="#"><img src="~/Content/img/22.jpg" alt="img02" /></a></li>

            </ul>
        </section>
        <h1>DERNEKLER HAKKINDA GENEL BİLGİLENDİRME</h1>
        <p>
            Genel olarak bakıldığında derneklerin kuruluş amaçları insanlara yardım etmek ve sağlıklı bir şekilde vermelerini sağlamak.
        </p>
        <p>
            Kurs, seminer, konferans, sempozyum ve panel gibi eğitim çalışmaları düzenleyerek insanlari bilinclendirmek.
        <p>
            Yaygın, sargın ve örgün eğitim merkezlerinde atölye çalışmaları düzenlemek,
        </p>
        <p>
            Girişimcilik konusunda bilgilendirme çalışmaları yapmak ve teşvik etmek.
        </p>
        <p>
            Yetişkin eğitimine katılmaları için kendilerine alternatif fırsatlar vermek amacıyla, başta yaşlılar ve temel nitelikleri kazanamadan eğitimlerini yarıda bırakanlar olmak üzere kırılgan sosyal gruplardan ve marjinal sosyal çevrelerden gelen kişilere yardımcı olmak.
        </p>
        <p>
            Uluslararası faaliyette bulunmak, yurt dışındaki dernek veya kuruluşlara üye olmak ve bu kuruluşlarla ortak çalışmalar yapmak veya yardımlaşmak.
        </p>
        <p>
            Gibi genel amaçlar dışında tabi ki her derneğin özel hedefleride  bulunmaktadır.
        </p>

    </div>

</body>
</html>

