﻿
@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>

    <title>Image Slider css3</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>
    <div id="slider">
        <figure>
            <img src="~/Content/img/slider11.jpg">
            <img src="~/Content/img/slider12.jpg">
            <img src="~/Content/img/slider13.jpg">
            <img src="~/Content/img/slider14.jpg">
            <img src="~/Content/img/slider15.jpeg">
        </figure>
    </div>
    <div>
        <style type="text/css">
            .homepage-references {
                width: 985;
                height: 790px;
                position: relative;
                margin: 0 auto 15px auto;
            }

            .homepage-references-h2 {
                text-align: center;
                font-size: 22px;
            }
        </style>

        <div class="homepage-references">
            <h2 class="homepage-references-h2">Obezite Nedir? </h2>
            <p>
                Sağlıklı bir yaşam sürdürmek için, alınan enerji ile harcanan enerjinin dengede tutulması gerekmektedir.
            </p>
            <p>
                Yetişkin erkeklerde vücut ağırlığının %15-18&#39;i, kadınlarda ise %20-25&#39;ini yağ dokusu oluşturmaktadır. Bu oranın erkeklerde %25, kadınlarda ise %30&#39;un üstüne çıkması obeziteyi oluşturmaktadır.
            </p>
            <p>
                Günlük alınan enejjinin harcanan enerjiden fazla olması durumunda, harcanamayan enerji vucutta yağ olarak depolanmakta ve obezite oluşumuna neden olmaktadır.
            </p>
            <p>
                Buna paralel olarak, günümüz teknolojisindeki gelişmeler, yaşamı kolaylaştırmakla birlikte, günlük hareketleri önemli ölçüde sınırlamıştır.
            </p>
            <p>
                Anlaşılacağı üzere obezite; besinlerle alınan enerjinin (kalori) harcanan enerjiden fazla olması ve fazla enerjinin vücutta yağ olarak depolanması (%20 veya daha fazla) sonucu ortaya çıkan, yaşam kalitesini ve süresini olumsuz yönde etkileyen bir hastalık olarak kabul edilmektedir.
            </p>
            <p>
                Dünya Sağlık Örgütü (DSÖ) tarafından da obezite, sağlığı bozacak ölçüde vücutta aşırı yağ birikmesi olarak tanımlanmıştır.
            </p>
            <section class="tt-grid-wrapper">
                <ul class="tt-grid tt-effect-stackback tt-effect-delay">
                    <li><a href="#"><img src="~/Content/img/11.jpg" alt="img01" /></a></li>
                    <li><a href="#"><img src="~/Content/img/12.jpg" alt="img02" /></a></li>
                    <li><a href="#"><img src="~/Content/img/17.jpg" alt="img03" /></a></li>
                    <li><a href="#"><img src="~/Content/img/18.jpg" alt="img04" /></a></li>
                    <li><a href="#"><img src="~/Content/img/15.jpg" alt="img05" /></a></li>
                    <li><a href="#"><img src="~/Content/img/16.jpg" alt="img06" /></a></li>
                </ul>
                <nav>
                    <a class="tt-current"></a><a></a><a></a><a></a>
                </nav>
            </section>

        </div>

    </div>
</body>
</html>
