﻿
@{
    ViewBag.Title = "Tarifler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Yemek Tarifi</h1>
<img src="~/Content/img/tarif.jpeg" alt="resim" class="img-left" />

<p>
    <h1>"Muzlu Leblebili Muffin Tarifi"</h1>
    <h2>Malzemeler</h2>
    <ul>
        <li> 3 olgunlaşmış muz  </li>
        <li>   2 yumurta      </li>
        <li>  2 y.k. zeytinyağ  </li>
        <li>   1/2 çay kaşığı tarçın  </li>
        <li> 1/3 çay kaşığı zerdeçal (eklemeseniz de olur) </li>
        <li>   1 tatlı kaşığı kabartma tozu  </li>
        <li>  200 gr tuzsuz leblebi    </li>
        <li>  1 çay bardağı bal ya da pekmez  </li>
        <li>    1/2 çay bardağı süt   </li>
    </ul>
</p>

<p>
    <h1> Yapılışı </h1>
<p>
    Öncelikle muzları iyice ezin ve içine tarçın ve zerdeçalı ekleyip karıştırın
    200 gr tuzsuz leblebiyi blenderda çekip un haline getirin.
    Ayrı bir kapta 2 yumurtanın önce beyazını köpük köpük olana kadar mikserle çırpın.
    Sonra içine sarılarını ilave edip çırpmaya devam edin.
</p>
    Yumurtaya muzlu karışımı ilave edip el çırpısıyla karıştırın içine zeytinyağı, balı ve sütü ilave edip karıştırmaya devam edin.
    En son leblebi ununu ve kabartma tozunu da ilave edin, eğer kek hamurunuz çok yoğun olduysa biraz daha süt ilave edebilirsiniz.
    Kek karışımınızı muffin kaplarına 1 parmak boşluk kalacak şekilde paylaştırın ve önceden ısıtılmış 170°deki fırında 20 dk pişirin.
    Fırından çıkarmadan önce kürdan yardımıyla pişmesini kontrol edebilirsiniz…
    Eveeet misss kokulu leziz muffinler hazır 1 bardak süt ile harika oluyorlar
</p>

